<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date }}</p>
      </div>
    </header>
    <p>New York: {{ currentTemperaturs.newYork | temp: 'C':'F' }}</p>
    <p>Berlin: {{ currentTemperaturs.berlin | temp: 'C':'F' }}</p>
    <p>Paris: {{ currentTemperaturs.paris | temp: 'C':'F' }}</p>
    <p>Chicago: {{ currentTemperaturs.chicago | temp: 'C':'F' }}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      <!--
        NOTE: when you run this, clicking the items does not visually make sense because of the way the items in the array is arranged.
        This is just to demonstrate how pure vs impure pipes work
      -->
      @for (temperature of historicTemperatures | sort: 'desc'; track temperature) {
      <li (click)="onReset($index)">{{ temperature | temp: 'C'}}</li>
      }
    </ul>
  </article>
</main>
