<header>
    <form (ngSubmit)="onSubmit()">
        <label>Initial Investment</label>
        <input type="number" name="initialInvestment" [(ngModel)]="parameterInput.initialInvestment">

        <label>Annual Investment</label>
        <input type="number" name="annualInvestment" [(ngModel)]="parameterInput.annualInvestment">

        <label>Expected Return</label>
        <input type="number" name="expectedReturn" [(ngModel)]="parameterInput.expectedReturn">

        <label>Duration</label>
        <input type="number" name="duration" [(ngModel)]="parameterInput.duration">

        <button type="submit">Calculate</button>
    </form>
</header>